* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

nav {
    background: #333;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
}

header {
    background: #555;
    color: white;
    text-align: center;
    padding: 40px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.project {
    background: white;
    margin: 10px 0;
    padding: 20px;
    border-radius: 10px;
}
/* ===== ĐÈN KÉO QUÂN ===== */

.scene{
    width:300px;
    height:300px;
    margin:50px auto;
    perspective:1000px;
}

.carousel{
    width:100%;
    height:100%;
    position:relative;
    transform-style:preserve-3d;
    animation:rotate 12s linear infinite;
}

.carousel img{
    position:absolute;
    width:180px;
    height:220px;
    left:60px;
    top:40px;
    object-fit:cover;
    border:4px solid white;
    border-radius:10px;
    transform:rotateY(calc(var(--i) * 60deg)) translateZ(250px);
    transition:.3s;
}

.carousel img:hover{
    transform:rotateY(calc(var(--i) * 60deg)) translateZ(250px) scale(1.08);
}

@keyframes rotate{
    from{
        transform:rotateY(0deg);
    }
    to{
        transform:rotateY(360deg);
    }
}
